@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

* {
    box-sizing:border-box;
}
body,html {
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

.half_bg_color {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(255,213,179,1) 5%, rgba(255,115,0,1) 5%, rgba(255,116,0,1) 50%, rgba(255,117,0,1) 95%, rgba(255,208,168,1) 95%, rgba(255,255,255,1) 95%);
}

.half_bg_color-black {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 15%, rgba(255,213,179,1) 15%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 85%, rgba(255,208,168,1) 85%, rgba(255,255,255,1) 85%);
}

@keyframes pulsate {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-10px) rotate(2deg);
  }
  50% {
    transform: translateY(-20px) rotate(-2deg);
  }
  75% {
    transform: translateY(-10px) rotate(2deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }

}

.rocket_movement_animation {
  animation: pulsate 2s ease-in-out infinite;
}
@keyframes htmlFloatAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-4px) translateX(-1px);
  }
  
  100% {
    transform: translateY(0) translateX(0);
  }
}
@keyframes reactFloatAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(4px) translateX(6px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes bootstrapFloatAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(6px) translateX(-3px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes githubFloatAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-8px) translateX(-5px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes sassFloatAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-2px) translateX(5px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes jsFloatAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(2px) translateX(-3px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes cssFloatAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(8px) translateX(-1px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes screensFloatingAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes screensFloatingAnimationTwo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes screensFloatingAnimationThree {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rightArmMovement {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px)  rotate(-0.3deg);;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes leftArmMovement {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px) rotate(0.3deg);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes cupShakeAnimation {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-0.1deg);
  }
  20% {
    transform: rotate(0.2deg);
  }
  30% {
    transform: rotate(-0.1deg);
  }
  40% {
    transform: rotate(0.1deg);
  }
  50% {
    transform: rotate(-0.05deg);
  }
  60% {
    transform: rotate(0.05deg);
  }
  70% {
    transform: rotate(-0.02deg);
  }
  80% {
    transform: rotate(0.02deg);
  }
  90% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

.cup-shake path {
  animation-name: cupShakeAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.right-arm-movement path {
  animation-name: rightArmMovement;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.left-arm-movement path {
  animation-name: leftArmMovement;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.screen-float path {
  animation-name: screensFloatingAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.screen-float-two path {
  animation-name: screensFloatingAnimationTwo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.screen-float-three path {
  animation-name: screensFloatingAnimationThree;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


.animated-path_react {
  animation-name: reactFloatAnimation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.animated-path_bootstrap {
  animation-name: bootstrapFloatAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.animated-path_github {
  animation-name: githubFloatAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.animated-path_sass {
  animation-name: sassFloatAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.animated-path_js {
  animation-name: jsFloatAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.animated-path_css {
  animation-name: cssFloatAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.animated_path_html {
  animation-name: htmlFloatAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


//WEB SOLUTIONS SVG

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateX(20px);
  }
}

.rotate-right-animation {
  animation-name: rotateRight;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}